.intro {
    margin-bottom: 36px;
    text-align: center;
    }

    .service {
        padding: 32px;
        background-color: #fff;
        box-shadow: var(--shadow);
    }
    
    .service h5 {
        margin-top: 24px;
        margin-bottom: 14px;
    }
    
    .service img {
        width: 90px;
    }
    