.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url('../../images/bg_banner1.jpg'), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer p {
    color: #fff;
}

footer .navbar-brand {
    color: #fff;
}